@charset "UTF-8";
/*синие плашки*/
.section_title {
  width: 100%;
  height: 62px;
  text-align: right;
  position: relative;
  overflow: hidden;
}

.section_title:after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: #425461;
  transition: width 600ms ease;
  -webkit-transition: width 600ms ease;
  left: 0;
  bottom: 0;
}

.section_title.animated:after {
  width: 100%;
}

.section_title.red_bg:after {
  background: #EB4227;
}

.section_title .section_title_line {
  background: #425461;
  background: linear-gradient(to right, #425461 0%, #425461 46%, #677681 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#425461', endColorstr='#677681',GradientType=1 );
  color: #fff;
  font-family: "Myriad Pro";
  font-size: 19px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  text-transform: uppercase;
  line-height: 67px;
  transition: left ease-out 400ms;
}

.section_title .section_title_line.red_bg {
  background: #b0210a;
  background: linear-gradient(to right, #b0210a 0%, #b0210a 46%, #ec4227 100%);
}

.section_title .section_title_line span {
  padding-right: 30px;
}

.section_title .section_title_line.animated {
  left: -68.3%;
}

/*/синие плашки*/
/*page news*/
.news-main-wrap .hot-slider {
  opacity: 0;
  transition: 500ms opacity 400ms ease;
  padding-top: 44px;
}

.news-main-wrap .hot-slider.animated {
  opacity: 1;
}

.news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new {
  opacity: 0;
  transition: all 400ms ease;
  transform: translate3d(0, 8%, 0);
  -webkit-transform: translate3d(0, 8%, 0);
}

.news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new.animated {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

/*/page news*/
/*page foto*/
.foto_main_wrap {
  padding-top: 57px;
}

.foto_main_wrap .photo_section {
  padding-bottom: 19px;
}

.foto_main_wrap .photo_section .news_line_wrap {
  padding-bottom: 63px;
}

.foto_main_wrap .foto-box-wrap {
  opacity: 0;
  transition: all 400ms ease;
}

.foto_main_wrap .foto-box-wrap.animated {
  opacity: 1;
}

.foto_main_wrap .video_section .mbox {
  padding-top: 72px;
  padding-bottom: 74px;
}

.foto_main_wrap .video_section .video-box-wrap {
  opacity: 0;
  transition: all 400ms ease;
}

.foto_main_wrap .video_section .video-box-wrap.animated {
  opacity: 1;
}

/*/page foto*/
/*page foto_inside*/
.news-inside-main {
  opacity: 0;
  transition: all 400ms ease;
}

.news-inside-main.animated {
  opacity: 1;
}

/*/page foto_inside*/
/*page smi*/
.smi-main .smi_wrap {
  opacity: 0;
  transition: all 400ms ease;
  transform: translate3d(0, 8%, 0);
  -webkit-transform: translate3d(0, 8%, 0);
}

.smi-main .smi_wrap.animated {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

/*/page smi*/
@media screen and (max-width: 767px) {
  /*news page*/
  .hot-slider, .hot-news {
    display: none;
  }
  .news-main-wrap .news-main .news-wrap .news .section_title .section_title_line span {
    padding-right: 25px;
  }
  .news-main-wrap .news-main .news-wrap .news .section_title {
    margin-bottom: 0;
  }
  .news-wrap .mbox {
    padding: 0;
  }
  .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new {
    width: 100%;
    float: none;
  }
  .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new .new-img-wrap {
    border: none;
    padding: 0;
    margin-bottom: 0;
  }
  .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new .new-img-wrap img {
    width: 100%;
  }
  .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new .date-wrap {
    margin-bottom: 0;
  }
  /*/news page*/
}
