@media screen and (max-width: 1023px) {
  /* foto */
  .photo_section .mbox {
    padding-left: 20px;
    padding-right: 5px;
  }
  .video_section .mbox {
    padding-left: 20px;
    padding-right: 5px;
  }
  .foto_main_wrap .mbox .video-box:nth-child(3n) {
    margin-right: 0;
  }
  /* /foto */
}

@media screen and (max-width: 767px) {
  /* foto */
  .foto_main_wrap {
    padding-top: 0;
  }
  .section_title {
    height: 90px;
  }
  .section_title .section_title_line {
    line-height: 90px;
  }
  .section_title .section_title_line:before {
    content: '';
    width: 20px;
    height: 100%;
    background-color: #cd442d;
    position: absolute;
    left: 0;
  }
  .section_title .section_title_line span {
    font-size: 42px;
    font-weight: 700;
  }
  .section_title .section_title_line.animated {
    left: 0;
  }
  .video_section .mbox {
    padding-right: 20px;
  }
  .video_section .mbox .video-box {
    margin-right: 0;
    width: 100%;
  }
  .video_section .mbox .video-box .video img {
    width: 100%;
  }
  .mbox .ivent {
    display: none;
  }
  .mbox .date-ivent {
    display: none;
  }
  /* /foto */
}

@media screen and (max-width: 479px) {
  /* foto */
  .foto_main_wrap .mbox .foto-box {
    width: calc(50% - 15px);
  }
  .foto_main_wrap .mbox .foto-box:nth-child(3n) {
    margin-right: 15px;
  }
  .foto_main_wrap .mbox .foto-box:nth-child(2n) {
    margin-right: 0;
  }
  /* /foto */
}

@media screen and (max-width: 320px) {
  /* foto */
  .foto_main_wrap .mbox .foto-box {
    width: calc(100% - 15px);
  }
  .foto_main_wrap .mbox .foto-box:nth-child(3n) {
    margin-right: 15px;
  }
  .foto_main_wrap .mbox .foto-box:nth-child(2n) {
    margin-right: 15px;
  }
  /* /foto */
}
