@charset "UTF-8";
/* Foto block  begin*/
.foto-Wrap {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

.foto-Wrap .foto-box {
  display: inline-block;
  text-align: center;
  margin-bottom: 32px;
  margin-right: 15px;
}

.foto-Wrap .foto-box .foto {
  position: relative;
  border: 1px solid #e1e4e7;
  transition: all 0.4s linear;
}

.foto-Wrap .foto-box .foto .lupa {
  position: absolute;
  bottom: 21px;
  right: 23px;
}

.foto-Wrap .foto-box .foto .main-foto {
  padding: 10px;
}

.foto-Wrap .foto-box .foto:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.foto-Wrap .foto-box:nth-child(3n) {
  margin-right: 0;
}

.foto-Wrap .foto-box:first-child {
  margin-left: 0;
}

.foto-Wrap .foto-box .ivent {
  font-family: 'Roboto';
  color: #e1e4e7;
  font-size: 14px;
}

.foto-Wrap .foto-box .date-ivent {
  font-family: 'Roboto';
  color: #e1e4e7;
  font-size: 10px;
}

/* fancybox */
.fancybox-close {
  background-image: none;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  right: -14px;
  top: -14px;
  transition: all 2s ease;
}

.fancybox-close:before {
  display: block;
  width: 30px;
  height: 6px;
  background-color: #ec4228;
  content: '';
  border-radius: 3px;
  position: absolute;
  top: 12px;
  right: -1px;
  /* Для Firefox */
  /* Для IE */
  -webkit-transform: rotate(45deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(45deg);
}

.fancybox-close:after {
  display: block;
  width: 30px;
  height: 6px;
  background-color: #ec4228;
  content: '';
  border-radius: 3px;
  position: absolute;
  top: 12px;
  right: -1px;
  /* Для Firefox */
  /* Для IE */
  -webkit-transform: rotate(-45deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(-45deg);
}

.fancybox-close:hover {
  /* Для Firefox */
  /* Для IE */
  -webkit-transform: rotate(360deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(360deg);
}

/* Foto block  end*/
.block-Radick {
  height: 10px;
  background-color: red;
}

/* Video block  begin*/
.video-Wrap {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

.video-Wrap .video-box {
  display: inline-block;
  text-align: center;
  margin-bottom: 32px;
  margin-right: 15px;
}

/* Video block  end*/
