@charset "UTF-8";
/*синие плашки*/
.section_title {
  width: 100%;
  border-bottom: 1px solid #576774;
  height: 62px;
  text-align: right;
  position: relative;
  overflow: hidden;
}

.section_title .section_title_line {
  background-color: #576774;
  color: #fff;
  font-family: "Myriad Pro";
  font-size: 19px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -68.3%;
  text-transform: uppercase;
  line-height: 67px;
}

.section_title .section_title_line span {
  padding-right: 30px;
}

/*/синие плашки*/
/*index page*/
.index_biography {
  padding-bottom: 24px;
}

.index_biography .index_biography_left {
  float: left;
  width: 30%;
  text-align: center;
}

.index_biography .index_biography_right {
  float: left;
  width: 70%;
  padding-left: 19px;
}

.index_biography .index_biography_img {
  padding: 7px;
  border: 1px solid #cdcdcd;
  display: inline-block;
}

.index_biography .index_biography_text {
  color: #687681;
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 21px;
}

.index_biography .index_biography_title {
  font-size: 29px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.index_biography .index_biography_desc p {
  padding-bottom: 20px;
}

.index_biography .index_biography:after {
  clear: both;
  display: block;
  content: "";
}

.index_section_text {
  font-family: "Roboto";
  font-size: 16px;
  color: #687681;
  padding-top: 50px;
  padding-left: 3%;
  padding-bottom: 36px;
}

.index_section_text p {
  margin-bottom: 18px;
}

.index_sect_3 .index_section_text {
  padding-bottom: 49px;
}

.index_sect_3 .index_section_text p {
  margin-bottom: 13px;
}

.index_sect_4 .section_title_line {
  left: -58.3%;
}

.index_sect_4 .index_section_text {
  padding-bottom: 181px;
  /*!*/
}

/*/index page*/
/*footer*/
.footer .footer_top {
  background-color: #6b7580;
  padding-top: 53px;
}

.footer .footer_top .footer_top_item {
  float: left;
  color: #fff;
}

.footer .footer_top .fti_1 {
  width: 41%;
}

.footer .footer_top .fti_2 {
  width: 39%;
}

.footer .footer_top .fti_3 {
  width: 20%;
}

.footer .footer_top .fti_3 .fti_title span:after {
  width: 100%;
}

.footer .footer_top .fti_title {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  font-family: "Roboto";
  text-transform: uppercase;
}

.footer .footer_top .fti_title span {
  position: relative;
}

.footer .footer_top .fti_title span:after {
  height: 1px;
  width: 195px;
  position: absolute;
  content: "";
  background-color: #899199;
  left: 0;
  bottom: -13px;
}

.footer .footer_top .fti_text {
  padding-top: 22px;
  padding-left: 22px;
}

.footer .footer_top .fti_text a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-family: "Roboto";
  line-height: 24px;
  font-size: 15px;
  transition: all ease-out 0.2s;
}

.footer .footer_top .fti_text a:hover {
  opacity: 0.7;
}

.footer .footer_top .fti_text a span {
  position: relative;
}

.footer .footer_top .fti_text a span:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  background: url("../images/footer_arrow.png") center center no-repeat;
  left: -18px;
  top: 21%;
}

.footer .footer_bottom {
  background-color: #353f48;
  text-align: center;
  color: #6b7580;
  font-family: "Roboto";
  font-size: 16px;
  padding: 24px 0px;
}

/*/footer*/
