.section_title {
  min-height: 62px;
}

.section_title .section_title_line {
  padding-right: 20px;
}

.section_title .section_title_line span {
  padding: 0 0 0 10px;
}

@media screen and (max-width: 992px) {
  .section_title .section_title_line.animated {
    left: -60.3%;
  }
}

@media screen and (max-width: 767px) {
  .section_title .section_title_line:before {
    content: '';
    width: 20px;
    height: 100%;
    background-color: #cd442d;
    position: absolute;
    left: 0;
  }
  .section_title .section_title_line span {
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
  }
  .section_title .section_title_line span:nth-child(1) {
    padding-top: 30px;
  }
  .section_title .section_title_line span:nth-child(2) {
    padding-bottom: 17px;
  }
  .section_title .section_title_line.animated {
    left: 0;
    position: relative;
    min-height: 90px;
    line-height: 38px;
  }
  /* foto */
  .foto_main_wrap {
    padding-top: 0;
  }
  .section_title {
    min-height: 90px;
  }
  .video_section .video-box {
    margin-right: 0;
    width: 100%;
  }
  .video_section .video-box .video img {
    width: 100%;
  }
  .mbox .ivent {
    display: none;
  }
  .mbox .date-ivent {
    display: none;
  }
  /* /foto */
}

@media screen and (max-width: 479px) {
  .section_title .section_title_line span {
    font-size: 27px;
  }
}
