.index_biography {
  padding-bottom: 24px;
}

.index_biography .index_biography_left {
  float: left;
  width: 30%;
  text-align: center;
}

.index_biography .index_biography_right {
  float: left;
  width: 70%;
  padding-left: 19px;
}

.index_biography .index_biography_img {
  padding: 7px;
  border: 1px solid #cdcdcd;
  display: inline-block;
}

.index_biography .index_biography_text {
  color: #687681;
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 21px;
}

.index_biography .index_biography_title {
  font-size: 29px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.index_biography .index_biography_desc p {
  padding-bottom: 20px;
}

.index_biography .index_biography:after {
  clear: both;
  display: block;
  content: "";
}

.index_section_text {
  font-family: "Roboto";
  font-size: 16px;
  color: #687681;
  padding-top: 50px;
  padding-left: 3%;
  padding-bottom: 36px;
}

.index_section_text p {
  margin-bottom: 18px;
}

.section_title {
  width: 100%;
  border-bottom: 1px solid #576774;
  height: 62px;
  text-align: right;
  position: relative;
  overflow: hidden;
}

.section_title .section_title_line {
  background-color: #576774;
  color: #fff;
  font-family: "Myriad Pro";
  font-size: 19px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -68.3%;
  text-transform: uppercase;
  line-height: 67px;
}

.section_title .section_title_line span {
  padding-right: 30px;
}
