@charset "UTF-8";
/* Foto block  begin*/
.foto_main_wrap {
  width: 100%;
}

.foto_main_wrap .photo_section .mbox {
  text-align: left;
  margin: 0 auto;
}

.foto_main_wrap .photo_section .mbox .foto-box-main {
  display: inline-block;
  text-align: center;
  width: calc(33% - 3px);
}

.foto_main_wrap .photo_section .mbox .foto-box {
  display: inline-block;
  text-align: center;
  margin-bottom: 32px;
  width: 100%;
  max-width: 320px;
}

.foto_main_wrap .photo_section .mbox .foto-box .foto {
  position: relative;
  border: 1px solid #e1e4e7;
  transition: all 0.4s linear;
}

.foto_main_wrap .photo_section .mbox .foto-box .foto .lupa {
  position: absolute;
  bottom: 21px;
  right: 23px;
}

.foto_main_wrap .photo_section .mbox .foto-box .foto .main-foto {
  padding: 10px;
}

.foto_main_wrap .photo_section .mbox .foto-box .foto:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.foto_main_wrap .photo_section .mbox .foto-box .ivent {
  font-family: 'Roboto';
  color: #e1e4e7;
  font-size: 14px;
}

.foto_main_wrap .photo_section .mbox .foto-box .date-ivent {
  font-family: 'Roboto';
  color: #e1e4e7;
  font-size: 10px;
}

/* fancybox */
.fancybox-close {
  background-image: none;
  border-radius: 17px;
  background-color: white;
  width: 34px;
  height: 34px;
  vertical-align: middle;
  right: -14px;
  top: -14px;
  border: 3px solid black;
  transition: -webkit-transform 1s ease, border-color 500ms linear;
  transition: transform 1s ease, border-color 500ms linear;
}

.fancybox-close:before {
  display: block;
  width: 22px;
  height: 4px;
  background-color: #000;
  content: '';
  border-radius: 3px;
  position: absolute;
  top: 12px;
  right: 3px;
  transition: background-color 500ms linear;
  /* Для Firefox */
  /* Для IE */
  -webkit-transform: rotate(45deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(45deg);
}

.fancybox-close:after {
  display: block;
  width: 22px;
  height: 4px;
  background-color: #000;
  content: '';
  border-radius: 3px;
  position: absolute;
  top: 12px;
  right: 3px;
  transition: background-color 500ms linear;
  /* Для Firefox */
  /* Для IE */
  -webkit-transform: rotate(-45deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(-45deg);
}

.fancybox-close:hover {
  /* Для Firefox */
  /* Для IE */
  -webkit-transform: rotate(360deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(360deg);
  border-color: orange;
}

.fancybox-close:hover:after {
  background-color: orange;
}

.fancybox-close:hover:before {
  background-color: orange;
}

/* Foto block  end*/
.header-top-buttons-wrap {
  display: table;
  width: 20%;
  vertical-align: right;
  margin-left: 78%;
}

.header-top-buttons-wrap a {
  display: table-cell;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  background-color: #616b75;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 0;
  transition: 300ms ease background-color;
  -webkit-transition: 300ms ease background-color;
}

.header-top-buttons-wrap a:hover, .header-top-buttons-wrap a.active, .header-top-buttons-wrap a:active {
  background-color: #cd442d;
  text-decoration: none;
  outline: none;
}

.header-top-buttons-wrap a span {
  display: inline-block;
  vertical-align: middle;
}

.header-top-buttons-wrap a .button-icon {
  margin-left: 7%;
  background-image: url(../images/button-icon.png);
  width: 6px;
  height: 10px;
}

/* Video block  begin*/
.mbox .video-box {
  display: inline-block;
  text-align: center;
  margin-bottom: 32px;
  width: calc(33% - 3px);
  vertical-align: top;
}

.mbox .video-box .video-box-wrap {
  text-align: center;
}

.mbox .video-box .video {
  transition: all 0.4s linear;
  position: relative;
  max-width: 320px;
  width: 100%;
  display: inline-block;
}

.mbox .video-box .video .fancy-box-video .main-video {
  border: 1px solid #e1e4e7;
  padding: 10px;
}

.mbox .video-box .video .fancy-box-video .video-circle {
  width: 60px;
  height: 60px;
  background-color: #ec4228;
  position: absolute;
  z-index: 2;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border-radius: 30px;
}

.mbox .video-box .video .fancy-box-video .video-triangle {
  border: 16px solid transparent;
  border-left: 16px solid white;
  position: absolute;
  z-index: 3;
  top: calc(50% - 16px);
  left: calc(50% - 4px);
}

.mbox .video-box .video:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.mbox .video-box .video:hover .video-circle-anim {
  width: 60px;
  height: 60px;
  border: 1px solid #ec4228;
  position: absolute;
  z-index: 2;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border-radius: 30px;
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.mbox .ivent {
  font-family: 'Roboto';
  color: #e1e4e7;
  font-size: 14px;
}

.mbox .date-ivent {
  font-family: 'Roboto';
  color: #e1e4e7;
  font-size: 10px;
}

.i-need-good-bg {
  background: url("../images/slider-img-hight.jpg") center center;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.header-content-wrap .header-content-wrap-main .fixed-faked-never-braked {
  right: 450px;
  top: 0;
}

.header-content-wrap .header-form-wrap .form-title .briking-the-low {
  margin-bottom: 10px;
}

.header-content-wrap .header-form-wrap .briking-the-low p {
  display: inline-block;
  font-size: 17px;
}

.header-content-wrap .header-form-wrap .header-form .force-texter {
  text-align: left;
}

.header-content-wrap .header-form-wrap .header-form .helper-of-my-dream {
  display: inline-block;
  max-width: 50%;
}

.header-content-wrap .header-content-wrap-main .header-form-wrap .header-form .helper-of-my-dream button {
  width: 250px;
  margin-left: 20px;
}

.header-content-wrap .header-content-wrap-main .header-form-wrap .header-form .helper-of-my-dream .form-input-wrap {
  width: 250px;
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
  }
}

/* Video block  end*/
.obertka-opa {
  position: relative;
  z-index: 1;
  transition: all 0.5s linear;
}

.wsplivashka {
  position: absolute;
  z-index: 2;
  max-width: 300px;
  text-align: center;
  transition: all 0.5s linear;
  background-color: #e5e8ea;
  margin-left: calc(50% - 150px);
  top: 0px;
}

.wsplivashka .x-close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -30px;
  top: -30px;
  cursor: pointer;
}

.wsplivashka .x-close:before {
  content: '';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 25px;
  height: 2px;
  background-color: #acacac;
  position: absolute;
  top: 10px;
  right: -2px;
}

.wsplivashka .x-close:after {
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
  height: 2px;
  background-color: #acacac;
  position: absolute;
  top: 10px;
  left: -2px;
}

.wsplivashka .contact-form-title h5 {
  font-size: 24px;
  text-align: center;
}

.wsplivashka .contact-form-row {
  min-width: 250px;
}

.wsplivashka .contact-form-row .contact-form-item {
  padding-top: 5px;
}

.wsplivashka .contact-form-row .contact-form-item label {
  display: none !important;
}

.wsplivashka .contact-form-row .contact-form-item textarea, .wsplivashka .contact-form-row .contact-form-item input {
  width: 278px;
  padding: 8px;
  outline: none;
  font-style: italic;
  font-size: 14px;
  border: 1px solid transparent;
  background: #e5e8ea;
  border-bottom: 1px solid #475a69;
  margin: 0 10px;
  box-sizing: border-box;
}

.wsplivashka .contact-form-row .contact-form-item textarea::-webkit-input-placeholder, .wsplivashka .contact-form-row .contact-form-item input::-webkit-input-placeholder {
  color: #acacac;
  font-style: italic;
  font-weight: 400;
}

.wsplivashka .contact-form-row .contact-form-item textarea:-moz-placeholder, .wsplivashka .contact-form-row .contact-form-item input:-moz-placeholder {
  color: #acacac;
  font-style: italic;
  font-weight: 400;
}

.wsplivashka .contact-form-row .contact-form-item textarea::-moz-placeholder, .wsplivashka .contact-form-row .contact-form-item input::-moz-placeholder {
  color: #acacac;
  font-style: italic;
  font-weight: 400;
}

.wsplivashka .contact-form-row .contact-form-item textarea:-ms-input-placeholder, .wsplivashka .contact-form-row .contact-form-item input:-ms-input-placeholder {
  color: #acacac;
  font-style: italic;
  font-weight: 400;
}

.wsplivashka .contact-form-row .contact-form-item input.error {
  border-bottom: 1px solid red;
}

.wsplivashka .contact-form-row .contact-form-item input.error::-webkit-input-placeholder {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.wsplivashka .contact-form-row .contact-form-item input.error:-moz-placeholder {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.wsplivashka .contact-form-row .contact-form-item input.error::-moz-placeholder {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.wsplivashka .contact-form-row .contact-form-item input.error:-ms-input-placeholder {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.wsplivashka .contact-form-row .contact-form-item textarea.error {
  border-bottom: 1px solid red;
}

.wsplivashka .contact-form-row .contact-form-item textarea.error::-webkit-input-placeholder {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.wsplivashka .contact-form-row .contact-form-item textarea.error:-moz-placeholder {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.wsplivashka .contact-form-row .contact-form-item textarea.error::-moz-placeholder {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.wsplivashka .contact-form-row .contact-form-item textarea.error:-ms-input-placeholder {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.wsplivashka .contact-form-row .contact-form-item button {
  width: 100%;
  height: 54px;
  line-height: 46px;
  border: none;
  background-color: #ed4227;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  padding: 4px;
  position: relative;
  overflow: hidden;
  outline: none;
}

.wsplivashka .contact-form-row .contact-form-item button span {
  position: relative;
  z-index: 1;
}

.wsplivashka .contact-form-row .contact-form-item button:after, .wsplivashka .contact-form-row .contact-form-item button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orange;
  transition: left 300ms ease, top 300ms ease;
  -webkit-transition: left 300ms ease, top 300ms ease;
  z-index: 0;
}

.wsplivashka .contact-form-row .contact-form-item button:before {
  left: -100%;
  top: -100%;
}

.wsplivashka .contact-form-row .contact-form-item button:after {
  left: 100%;
  top: 100%;
}

.wsplivashka .contact-form-row .contact-form-item button:hover:before, .wsplivashka .contact-form-row .contact-form-item button:hover:after {
  left: 0;
  top: 0;
}

.wsplivashka textarea::-webkit-input-placeholder {
  background-image: url(../images/form-bg-input.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  color: #a1aab2;
}

.wsplivashka .contact_name::-webkit-input-placeholder {
  background-image: url(../images/form-bg-man.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  color: #a1aab2;
}

.wsplivashka .email::-webkit-input-placeholder {
  background-image: url(../images/form-bg-letter.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: left center;
  color: #a1aab2;
}

.wsplivashka .contact-form-row .contact-form-item textarea {
  resize: none  !important;
  outline: none;
  background-color: white;
  border: 1px solid transparent;
  background-position: left center;
  height: 145px;
}

.move-nigga {
  top: 0;
}

@media screen and (min-width: 1900px) {
  /* foto */
  .foto_main_wrap .photo_section .mbox {
    margin: 0 auto;
  }
  .foto_main_wrap .photo_section .mbox .foto-box-main {
    width: calc(25% - 3px);
  }
  .mbox .video-box {
    width: calc(25% - 3px);
  }
  /* /foto */
}

@media screen and (max-width: 1366px) {
  .header-content-wrap .header-form-wrap .briking-the-low p {
    display: inline-block;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .header-top-buttons-wrap {
    display: table;
    width: 100%;
    margin-left: 0%;
    position: relative;
    z-index: 3;
  }
  .wsplivashka {
    top: 0px;
  }
  .header-content-wrap .header-form-wrap .header-form .force-texter {
    font-size: 46px;
  }
  .header-content-wrap .header-form-wrap .briking-the-low p {
    display: inline-block;
    font-size: 13px;
  }
  .header-content-wrap .header-content-wrap-main .fixed-faked-never-braked {
    right: initial;
    top: 0;
    left: 12px;
  }
}

@media screen and (max-width: 767px) {
  .header-top-buttons-wrap {
    display: table;
    width: 100%;
    margin-left: 0;
  }
  /* foto */
  .mbox .video-box .video {
    max-width: none;
  }
  /* /foto */
}

@media screen and (max-width: 666px) {
  /* foto */
  .foto_main_wrap .photo_section .mbox .foto-box-main {
    width: calc(50% - 3px);
  }
  /* /foto */
}

@media screen and (max-width: 479px) {
  /* foto */
  .foto_main_wrap .photo_section .mbox .foto-box-main {
    width: 100%;
  }
  /* /foto */
}

@media screen and (max-width: 767px) {
  #call-popup-next {
    max-width: 400px;
    padding: 10px;
  }
  #call-popup-next .contact-form-title h5 {
    font-size: 18px;
  }
  #call-popup-next .contact-form-row .contact-form-item {
    padding: 3px;
  }
  #call-popup-next .contact-form-row .contact-form-item textarea, input {
    font-size: 10px;
    padding: 5px;
  }
  .fancybox-inner {
    width: auto !important;
    height: auto !important;
  }
  #call-popup-next .contact-form-row {
    width: 100%;
    max-width: 380px;
  }
  .fancybox-desktop {
    width: auto !important;
  }
}

@media screen and (max-width: 375px) {
  #call-popup-next {
    max-width: 250px;
  }
  #call-popup-next .contact-form-title h5 {
    font-size: 14px;
  }
  #call-popup-next .contact-form-row .contact-form-item {
    padding: 3px;
  }
  #call-popup-next .contact-form-row .contact-form-item textarea, input {
    font-size: 10px;
    padding: 5px;
  }
  .fancybox-inner {
    width: auto !important;
    height: auto !important;
  }
  #call-popup-next .contact-form-row {
    width: 100%;
    max-width: 380px;
  }
  .fancybox-desktop {
    width: auto !important;
  }
  #call-popup-next {
    min-width: 0px;
  }
  #call-popup-next .contact-form-row {
    min-width: 0px;
  }
  .wsplivashka {
    max-width: 260px;
    margin-left: calc(50% - 130px);
  }
  .wsplivashka .contact-form-row .contact-form-item input {
    width: 240px;
  }
  .wsplivashka .contact-form-row .contact-form-item textarea {
    width: 240px;
  }
}
