@charset "UTF-8";
/* Foto block  begin*/
.foto_main_wrap {
  width: 100%;
}

.foto_main_wrap .photo_section .mbox {
  text-align: left;
  margin: 0 auto;
}

.foto_main_wrap .photo_section .mbox .foto-box {
  display: inline-block;
  text-align: center;
  margin-bottom: 32px;
  vertical-align: top;
  margin-right: 1%;
  width: calc(33% - 15px);
}

.foto_main_wrap .photo_section .mbox .foto-box .foto {
  position: relative;
  border: 1px solid #e1e4e7;
  transition: all 0.4s linear;
}

.foto_main_wrap .photo_section .mbox .foto-box .foto .lupa {
  position: absolute;
  bottom: 21px;
  right: 23px;
}

.foto_main_wrap .photo_section .mbox .foto-box .foto .main-foto {
  padding: 10px;
}

.foto_main_wrap .photo_section .mbox .foto-box .foto:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.foto_main_wrap .photo_section .mbox .foto-box .ivent {
  font-family: 'Roboto';
  color: #e1e4e7;
  font-size: 14px;
}

.foto_main_wrap .photo_section .mbox .foto-box .date-ivent {
  font-family: 'Roboto';
  color: #e1e4e7;
  font-size: 10px;
}

/* fancybox */
.fancybox-close {
  background-image: none;
  border-radius: 17px;
  background-color: white;
  width: 34px;
  height: 34px;
  vertical-align: middle;
  right: -14px;
  top: -14px;
  border: 3px solid black;
  transition: -webkit-transform 1s ease, border-color 500ms linear;
  transition: transform 1s ease, border-color 500ms linear;
}

.fancybox-close:before {
  display: block;
  width: 22px;
  height: 4px;
  background-color: #000;
  content: '';
  border-radius: 3px;
  position: absolute;
  top: 12px;
  right: 3px;
  transition: background-color 500ms linear;
  /* Для Firefox */
  /* Для IE */
  -webkit-transform: rotate(45deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(45deg);
}

.fancybox-close:after {
  display: block;
  width: 22px;
  height: 4px;
  background-color: #000;
  content: '';
  border-radius: 3px;
  position: absolute;
  top: 12px;
  right: 3px;
  transition: background-color 500ms linear;
  /* Для Firefox */
  /* Для IE */
  -webkit-transform: rotate(-45deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(-45deg);
}

.fancybox-close:hover {
  /* Для Firefox */
  /* Для IE */
  -webkit-transform: rotate(360deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(360deg);
  border-color: orange;
}

.fancybox-close:hover:after {
  background-color: orange;
}

.fancybox-close:hover:before {
  background-color: orange;
}

/* Foto block  end*/
/* Video block  begin*/
.mbox .video-box {
  display: inline-block;
  text-align: center;
  margin-bottom: 32px;
  width: calc(33% - 15px);
  margin-right: 1%;
  vertical-align: top;
}

.mbox .video-box .video {
  transition: all 0.4s linear;
  position: relative;
}

.mbox .video-box .video .fancy-box-video .main-video {
  border: 1px solid #e1e4e7;
  padding: 10px;
}

.mbox .video-box .video .fancy-box-video .video-circle {
  width: 60px;
  height: 60px;
  background-color: #ec4228;
  position: absolute;
  z-index: 2;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border-radius: 30px;
}

.mbox .video-box .video .fancy-box-video .video-triangle {
  border: 16px solid transparent;
  border-left: 16px solid white;
  position: absolute;
  z-index: 3;
  top: calc(50% - 16px);
  left: calc(50% - 4px);
}

.mbox .video-box .video:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.mbox .video-box .video:hover .video-circle-anim {
  width: 60px;
  height: 60px;
  border: 1px solid #ec4228;
  position: absolute;
  z-index: 2;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border-radius: 30px;
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
  }
}

.mbox .ivent {
  font-family: 'Roboto';
  color: #e1e4e7;
  font-size: 14px;
}

.mbox .date-ivent {
  font-family: 'Roboto';
  color: #e1e4e7;
  font-size: 10px;
}

/* Video block  end*/
@media screen and (min-width: 1900px) {
  .foto_main_wrap .photo_section .mbox {
    margin: 0 auto;
  }
  .foto_main_wrap .photo_section .mbox .foto-box {
    width: calc(24% - 15px);
    max-width: 320px;
    margin-right: 3%;
    margin-left: 3%;
  }
  .mbox .video-box {
    width: calc(24% - 15px);
  }
}
