/* header */
.header-slider-wrap .slick-dots {
  position: absolute;
  margin-bottom: 24px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.header-slider-wrap .slick-dots li {
  display: inline-block;
  margin-right: 8px;
}

.header-slider-wrap .slick-dots li:last-child {
  margin-right: 0;
}

.header-slider-wrap .slick-dots li button {
  font-size: 0;
  border: 2px solid #fff;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.header-slider-wrap .slick-dots li button:focus {
  outline: none;
}

.header-slider-wrap .slick-dots li:hover button, .header-slider-wrap .slick-dots li.slick-active button {
  background-color: #fff;
}

.header-content-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.header-content-wrap .header-content-wrap-main {
  position: relative;
}

.header-content-wrap .header-content-top {
  margin-bottom: 88px;
}

.header-content-wrap .header-content-top .header-top-left {
  float: left;
  width: 50%;
}

.header-content-wrap .header-content-top .header-top-left .header-top-buttons-wrap {
  display: table;
  width: 100%;
}

.header-content-wrap .header-content-top .header-top-left .header-top-buttons-wrap a {
  display: table-cell;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  background-color: #616b75;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 0;
  transition: 300ms ease background-color;
  -webkit-transition: 300ms ease background-color;
}

.header-content-wrap .header-content-top .header-top-left .header-top-buttons-wrap a:hover, .header-content-wrap .header-content-top .header-top-left .header-top-buttons-wrap a.active {
  background-color: #cd442d;
  text-decoration: none;
}

.header-content-wrap .header-content-top .header-top-left .header-top-buttons-wrap a span {
  display: inline-block;
  vertical-align: middle;
}

.header-content-wrap .header-content-top .header-top-left .header-top-buttons-wrap a .button-icon {
  margin-left: 7%;
  background-image: url(../images/button-icon.png);
  width: 6px;
  height: 10px;
}

.header-content-wrap .header-content-top .header-top-right {
  float: right;
  width: 50%;
}

.header-content-wrap .header-content-top .header-top-right .header-top-soc {
  float: right;
}

.header-content-wrap .header-content-top .header-top-right .header-top-soc .header-top-soc-wrap {
  float: right;
}

.header-content-wrap .header-content-top .header-top-right .header-top-soc .header-top-soc-wrap a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.header-content-wrap .header-content-top .header-top-right .header-top-soc .header-top-soc-wrap a.red {
  background-color: #cd442d;
}

.header-content-wrap .header-content-top .header-top-right .header-top-soc .header-top-soc-wrap a.blue {
  background-color: #125386;
}

.header-content-wrap .header-content-top .header-top-right .header-top-soc .header-top-soc-wrap a.ligth-blue {
  background-color: #437aa6;
}

.header-content-wrap .header-content-top .header-top-right .header-top-soc .header-top-soc-wrap a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orange;
  left: 100%;
  top: 100%;
  transition: left 300ms ease, top 300ms ease;
  -webkit-transition: left 300ms ease, top 300ms ease;
  z-index: 0;
}

.header-content-wrap .header-content-top .header-top-right .header-top-soc .header-top-soc-wrap a:hover:after {
  left: 0;
  top: 0;
}

.header-content-wrap .header-content-top .header-top-right .header-top-soc .header-top-soc-wrap a img {
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.header-content-wrap .header-content-top .header-top-right .header-top-langChange {
  margin-right: 200px;
  text-align: right;
  padding-top: 20px;
}

.header-content-wrap .header-content-top .header-top-right .header-top-langChange a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 5%;
  text-transform: uppercase;
  line-height: 14px;
}

.header-content-wrap .header-content-top .header-top-right .header-top-langChange a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #fff;
  transition: 300ms width ease;
  -webkit-transition: 300ms width ease;
}

.header-content-wrap .header-content-top .header-top-right .header-top-langChange a:hover:after {
  width: 100%;
}

.header-content-wrap .header-content-top .header-top-right .header-top-langChange a.active {
  font-weight: 700;
}

.header-content-wrap .header-content-top .header-top-right .header-top-langChange a.active:after {
  width: 100%;
}

.header-content-wrap .header-form-wrap {
  position: absolute;
  right: 0;
  text-align: right;
}

.header-content-wrap .header-form-wrap .form-big-title {
  font-family: 'Myriad Pro',sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 71px;
  margin-bottom: -6px;
}

.header-content-wrap .header-form-wrap .form-small-title {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 27px;
  line-height: 26px;
}

.header-content-wrap .header-form-wrap .form-row {
  margin-bottom: 15px;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap {
  display: inline-block;
  margin-right: 15px;
  max-width: 215px;
  width: 100%;
  position: relative;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap:last-child {
  margin-right: 0;
  max-width: 290px;
  width: 100%;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap input {
  height: 45px;
  line-height: 45px;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  padding: 0 15px;
  width: 100%;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  transition: 300ms ease border-color;
  -webkit-transition: 300ms ease border-color;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap input::-webkit-input-placeholder {
  color: #acacac;
  font-style: italic;
  font-weight: 400;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap input:-moz-placeholder {
  color: #acacac;
  font-style: italic;
  font-weight: 400;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap input::-moz-placeholder {
  color: #acacac;
  font-style: italic;
  font-weight: 400;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap input:-ms-input-placeholder {
  color: #acacac;
  font-style: italic;
  font-weight: 400;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap input:focus {
  outline: none;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap input:focus::-webkit-input-placeholder {
  color: transparent;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap input:focus:-moz-placeholder {
  color: transparent;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap input:focus::-moz-placeholder {
  color: transparent;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap input:focus:-ms-input-placeholder {
  color: transparent;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap.error input {
  border-color: red;
}

.header-content-wrap .header-form-wrap .form-row .form-input-wrap.valid input {
  border-color: green;
}

.header-content-wrap .header-form-wrap .form-row.submit-wrap {
  margin-bottom: 0;
}

.header-content-wrap .header-form-wrap .form-row.submit-wrap button {
  max-width: 212px;
  width: 100%;
  height: 54px;
  line-height: 46px;
  border: none;
  background-color: #3f8ac5;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  padding: 4px;
  position: relative;
  overflow: hidden;
}

.header-content-wrap .header-form-wrap .form-row.submit-wrap button span {
  position: relative;
  z-index: 1;
}

.header-content-wrap .header-form-wrap .form-row.submit-wrap button:after, .header-content-wrap .header-form-wrap .form-row.submit-wrap button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orange;
  transition: left 300ms ease, top 300ms ease;
  -webkit-transition: left 300ms ease, top 300ms ease;
  z-index: 0;
}

.header-content-wrap .header-form-wrap .form-row.submit-wrap button:before {
  left: -100%;
  top: -100%;
}

.header-content-wrap .header-form-wrap .form-row.submit-wrap button:after {
  left: 100%;
  top: 100%;
}

.header-content-wrap .header-form-wrap .form-row.submit-wrap button:hover:before, .header-content-wrap .header-form-wrap .form-row.submit-wrap button:hover:after {
  left: 0;
  top: 0;
}

.header-navigation .header-navigation-wrap {
  display: table;
  width: 100%;
}

.header-navigation .header-navigation-wrap a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  color: #6b7580;
  padding: 26px 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 200ms ease, background-color 300ms ease;
  -webkit-transition: color 200ms ease, background-color 300ms ease;
}

.header-navigation .header-navigation-wrap a span {
  display: inline-block;
  position: relative;
}

.header-navigation .header-navigation-wrap a span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #6b7580;
  left: 0;
  top: 100%;
  transition: background-color 200ms ease, width 300ms ease;
  -webkit-transition: background-color 200ms ease, width 300ms ease;
}

.header-navigation .header-navigation-wrap a:hover, .header-navigation .header-navigation-wrap a.active {
  background-color: #ec4228;
  color: #fff;
}

.header-navigation .header-navigation-wrap a:hover span:after, .header-navigation .header-navigation-wrap a.active span:after {
  width: 0;
  background-color: #fff;
}

/* /header */
