.header-content-wrap .header-form-wrap .form-big-title a:active,
.header-content-wrap .header-form-wrap .form-big-title a:hover,
.header-content-wrap .header-form-wrap .form-big-title a{color:#fff; text-decoration: none;}
.header-slider-wrap .header-slider-wrap-main .header-slider-item.active{height:471px;}
.header-slider-wrap .header-slider-wrap-main .header-slider-item.active.i-need-good-bg{height:200px;}


body{max-width: 1920px; margin: 0 auto; }
/* Foto block  begin*/
.foto_main_wrap{ width: 100%;
    .photo_section {
        .mbox{ text-align: left; margin: 0 auto;
            .foto-box-main{display: inline-block;text-align: center;width: calc(33% - 3px);}
            .foto-box{display: inline-block;  text-align: center;  margin-bottom: 32px ;   width: 100%;max-width: 320px;
                .foto{ position: relative; border: 1px solid #e1e4e7;
                    -webkit-transition: all 0.4s linear ;
                    -moz-transition: all 0.4s linear;
                    -o-transition: all 0.4s linear;
                    transition: all 0.4s linear;
                    .lupa{position: absolute; bottom: 21px; right: 23px;}
                    .main-foto{padding: 10px;}
                &:hover{ box-shadow: 0 0 20px rgba(0,0,0,0.5); }
                }



            .ivent{font-family: 'Roboto'; color: #888; font-size: 14px;}
            .date-ivent{font-family: 'Roboto'; color: #888; font-size: 10px;}
            }
        }
    }
}


/* fancybox */
.fancybox-close{background-image: none; border-radius: 17px; background-color: white;  width: 34px; height: 34px;  vertical-align: middle; right: -14px; top: -14px; border: 3px solid black;
    -webkit-transition: transform 1s ease, border-color 500ms linear;
    -moz-transition: transform 1s ease, border-color 500ms linear;
    -o-transition: transform 1s ease, border-color 500ms linear;
     transition: transform 1s ease, border-color 500ms linear;


   &:before{display: block; width: 22px; height: 4px; background-color: #000; content: ''; border-radius: 3px; position: absolute; top: 12px; right: 3px;
    -webkit-transition: background-color 500ms linear ;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
     transition: background-color 500ms linear;
    -moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);

    }
   &:after{display: block; width: 22px; height: 4px; background-color: #000; content: '' ; border-radius: 3px; position: absolute; top: 12px; right: 3px;
        -webkit-transition: background-color 500ms linear ;
        -moz-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
         transition: background-color 500ms linear;
        -moz-transform: rotate(-45deg) ; /* Для Firefox */
        -ms-transform: rotate(-45deg); /* Для IE */
        -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(-45deg); /* Для Opera */
        transform: rotate(-45deg);
    }
    &:hover{
        -moz-transform: rotate(360deg); /* Для Firefox */
        -ms-transform: rotate(360deg); /* Для IE */
        -webkit-transform: rotate(360deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(360deg); /* Для Opera */
        transform: rotate(360deg);
        border-color:orange;
        &:after{background-color: orange;}
        &:before{background-color: orange;}
    }
}

/* Foto block  end*/

.header-top-buttons-wrap{display:table;width: 300px;vertical-align: right;margin-left: calc(100% - 337px); opacity: 1; transition: all 0.5s linear; position: relative; z-index: 1;
    a{display: table-cell;cursor: pointer;text-align: center;vertical-align: middle;background-color: #616b75;color:#fff;font-size: 13px;font-weight: 500;text-transform: uppercase;padding:28px 0;transition:300ms ease background-color;-webkit-transition:300ms ease background-color;
        &:hover, &.active, &:active{background-color:#cd442d;text-decoration: none;outline:none;}
        span{display: inline-block;vertical-align: middle;}
        .button-icon{margin-left: 7%;background-image:url(../images/button-icon.png);width: 6px;height: 10px;}
    }
}

/* Video block  begin*/

.mbox{
    .video-box{display: inline-block;  text-align: center;  margin-bottom: 32px ; width: calc(33% - 3px) ;vertical-align: top;
        .video-box-wrap{text-align: center;}
        .video { -webkit-transition: all 0.4s linear ;
                -moz-transition: all 0.4s linear;
                -o-transition: all 0.4s linear;
                transition: all 0.4s linear;
                position: relative;
                max-width: 320px;
                width: 100%;
                display: inline-block;
            .fancy-box-video{
                .main-video {border: 1px solid #e1e4e7; padding: 10px; }
                .video-circle{  width: 60px;  height: 60px; background-color: #ec4228; position: absolute;z-index: 2; top: calc(50% - 30px); left: calc(50% - 30px); -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
                .video-triangle{ border: 16px solid transparent; border-left: 16px solid white; position: absolute; z-index: 3;top: calc(50% - 16px);left: calc(50% - 4px); }

            }
            &:hover{ box-shadow: 0 0 20px rgba(0,0,0,0.5);
                    .video-circle-anim{  width: 60px;  height: 60px; border: 1px solid #ec4228; position: absolute;z-index: 2; top: calc(50% - 30px); left: calc(50% - 30px); -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;animation: pulse 1s linear infinite;}
            }
        }
    }
    .ivent{font-family: 'Roboto'; color: #e1e4e7; font-size: 14px;}
    .date-ivent{font-family: 'Roboto'; color: #e1e4e7; font-size: 10px;}

}

.i-need-good-bg{background: url('../images/slider-img-hight.jpg') center center; height: 200px; background-size: 100%; background-repeat: no-repeat;}
.header-content-wrap .header-content-wrap-main  .fixed-faked-never-braked{right: 500px; top: 0;
    .header-form .force-texter {font-size: 58px;}

}
.header-content-wrap .header-form-wrap .form-title .briking-the-low {margin-bottom: 10px; }
.header-content-wrap .header-form-wrap .briking-the-low p {display:block; font-size: 15px; }
.header-content-wrap .header-form-wrap .header-form .force-texter{text-align: right;}
.header-content-wrap .header-form-wrap .header-form .helper-of-my-dream{display: inline-block; max-width: 50%;}
.header-content-wrap .header-content-wrap-main .header-form-wrap .header-form .helper-of-my-dream{ margin-top: 0px; max-width: 250px;     height: 45px;}
.header-content-wrap .header-content-wrap-main .header-form-wrap .header-form .helper-of-my-dream button{height: 45px; width: 250px; margin-left: 20px; line-height: 40px;}
.header-content-wrap .header-content-wrap-main .header-form-wrap .header-form .helper-of-my-dream .form-input-wrap{ width: 250px;}
@keyframes pulse {
    from {-ms-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); opacity: 1;}
    to {-ms-transform: scale(2,2); -webkit-transform: scale(2,2);transform: scale(2,2);opacity: 0;}
}
@-webkit-keyframes pulse {
    from {  -ms-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1);opacity: 1;}
    to { -ms-transform: scale(2,2); -webkit-transform: scale(2,2);  transform: scale(2,2); opacity: 0;}
}

/* Video block  end*/

.obertka-opa{position: relative; z-index: 1; transition: all 0.5s linear;}
.loader-move{position: absolute; z-index: 0; width: 298px;  text-align: center;  transition: all 0.5s linear; background-color:  rgba(0, 0, 0, 0.34);; margin-left: calc(100% - 337px); top: 0px; height: 310px; background-image: url(../images/239.gif); background-position: center center; background-repeat: no-repeat;}

.wsplivashka{ position: absolute; z-index: 1; max-width: 300px;text-align: center;transition: all 0.5s linear; background-color: #e6e8ea; margin-left: calc(100% - 337px); top: 0px;

    .x-close{position: absolute;width: 20px;height: 20px;right: -22px;top: -19px;cursor: pointer;
        &:before{ content: '';  transform: rotate(-45deg); width: 18px; height: 2px; background-color: #acacac;position: absolute; top: 9px; right: 1px;}
        &:after{ content: ''; transform: rotate(45deg); width: 18px; height: 2px; background-color: #acacac; position: absolute; top: 9px; left: 1px;}
    }

    .contact-form-title h5{font-size: 24px; text-align: center;margin:0;}
    .contact-form-row {min-width: 250px;
        .contact-form-item{ padding-top: 0px;
            &:nth-child(2){padding-bottom: 28px;}
            &:nth-child(3){padding-bottom: 10px;}
            label{display: none !important;}
            textarea, input{width: 282px;padding: 14px 8px 2px 32px;outline: none; font-style: normal; font-size: 14px; border:1px solid transparent; background-color: #e5e8ea; border-bottom: 1px solid #d1d5d8;margin: 0 10px; box-sizing: border-box;font-family: "Roboto";text-align: left !important;color: #333;
                &::-webkit-input-placeholder {color:#bec1c6;font-style:normal;font-weight: 400;}
                &:-moz-placeholder {color:#bec1c6;font-style:normal;font-weight: 400;}
                &::-moz-placeholder {color:#bec1c6;font-style:normal;font-weight: 400;}
                &:-ms-input-placeholder {color:#bec1c6;font-style:normal;font-weight: 400;}
            }
            textarea{text-indent:30px; padding-left: 2px; }
            input.error{ border-bottom :1px solid red;
                &::-webkit-input-placeholder {color:red;font-style:normal;font-weight: 700;}
                &:-moz-placeholder {color:red;font-style:normal;font-weight: 700;}
                &::-moz-placeholder {color:red;font-style:normal;font-weight: 700;}
                &:-ms-input-placeholder {color:red;font-style:normal;font-weight: 700;}
            }
            textarea.error{ border-bottom :1px solid red;
                &::-webkit-input-placeholder {color:red;font-style:normal;font-weight: 700;}
                &:-moz-placeholder {color:red;font-style:normal;font-weight: 700;}
                &::-moz-placeholder {color:red;font-style:normal;font-weight: 700;}
                &:-ms-input-placeholder {color:red;font-style:normal;font-weight: 700;}
            }


            button{width: 100%;height: 54px;line-height: 46px;border:none;background-color: #ed4227;font-size: 15px;color:#fff;text-transform: uppercase;padding:4px;position: relative;overflow: hidden; outline: none;
                    span{position: relative;z-index: 1;}
                    &:after, &:before{content: '';position: absolute;width: 100%;height: 100%;background-color: orange;transition:left 300ms ease, top 300ms ease;-webkit-transition:left 300ms ease, top 300ms ease;z-index:0;}
                    &:before{left: -100%;top:-100%;}
                    &:after{left: 100%;top: 100%;}
                    &:hover{
                        &:before, &:after{left: 0;top: 0;}
                    }
                }
        }
    }
    textarea::-webkit-input-placeholder {color: #bec1c6;}
    .contact_name::-webkit-input-placeholder {color: #bec1c6;}
    .email::-webkit-input-placeholder {background-position: left center;  color: #bec1c6;}
    .contact-form-row .contact-form-item textarea {resize: none  !important;outline: none; background-color: white; border:1px solid transparent; height: 145px; line-height: 21px;padding-top: 3px;}
    .contact_name{background-image: url(../images/form-bg-man.png); background-repeat: no-repeat; background-position-x: 6px; background-position-y: 15px;text-indent: 0px; }
    .email{background-image: url(../images/form-bg-letter.png); background-repeat: no-repeat;background-position: left center;background-position-x: 7px; background-position-y: 19px;text-indent: 0px; }
    textarea{background-image: url(../images/form-bg-input.png); background-repeat: no-repeat;background-position-x: 10px; background-position-y: 4px;text-indent: 0px;}


}
.move-nigga{top: -263px;}


@media screen and (min-width:1900px){

    /* foto */

    .foto_main_wrap .photo_section .mbox{margin: 0 auto;}
    .foto_main_wrap .photo_section .mbox .foto-box-main{width: calc(25% - 3px);}
    .mbox .video-box{ width: calc(25% - 3px);}

    /* /foto */

}

@media screen and (max-width: 1366px){



}
@media screen and (max-width: 1024px){
    .header-top-buttons-wrap{ position: relative; z-index: 3;  margin-left: calc(50% - 150px);}
    .loader-move, .wsplivashka { margin-left: calc(50% - 150px);}
    .header-content-wrap .header-content-wrap-main .fixed-faked-never-braked .header-form .force-texter { font-size: 46px;}
    .header-content-wrap .header-form-wrap .briking-the-low p {display: inline-block;font-size: 13px;}
    .header-content-wrap .header-content-wrap-main .fixed-faked-never-braked {right: initial; left: 12px;top: 40px;}
    .header-content-wrap .header-form-wrap .form-title + .helper-of-my-dream {float: none !important;}
}

@media screen and (max-width: 767px){
    .header-top-buttons-wrap{display:table;width: 100%;margin-left: 0;}
    .wsplivashka .x-close{visibility: hidden;}
    /* foto */
    .loader-move, .wsplivashka {  margin-left: 0; width: 100%; max-width: none;}
    .wsplivashka .contact-form-row .contact-form-item textarea, .wsplivashka .contact-form-row .contact-form-item input { width: 80%;}
    .mbox .video-box .video{max-width: none;}
    .x-close{display: none !important;}
    /* /foto */

}

@media screen and (max-width: 666px){

    /* foto */

    .foto_main_wrap .photo_section .mbox .foto-box-main{width: calc(50% - 3px);}

    /* /foto */

}

@media screen and (max-width: 479px){

    /* foto */

    .foto_main_wrap .photo_section .mbox .foto-box-main{width:100%;}

    /* /foto */

}

@media screen and (max-width: 767px){
    #call-popup-next { max-width: 400px; padding: 10px;}
    #call-popup-next .contact-form-title h5{     font-size: 18px;}
    #call-popup-next .contact-form-row .contact-form-item { padding: 3px;}
    #call-popup-next .contact-form-row .contact-form-item textarea, input {font-size: 10px; padding: 5px;}
    .fancybox-inner{width: auto !important; height: auto !important;}
    #call-popup-next .contact-form-row { width: 100%; max-width:380px; }
    .fancybox-desktop {width: auto !important;}
}

@media screen and (max-width: 375px){
    #call-popup-next { max-width: 250px;}
    #call-popup-next .contact-form-title h5{ font-size: 14px;}
    #call-popup-next .contact-form-row .contact-form-item { padding: 3px;}
    #call-popup-next .contact-form-row .contact-form-item textarea, input {font-size: 10px; padding: 5px;}
    .fancybox-inner{width: auto !important; height: auto !important;}
    #call-popup-next .contact-form-row { width: 100%; max-width:380px; }
    .fancybox-desktop {width: auto !important;}
    #call-popup-next {min-width: 0px;}
    #call-popup-next .contact-form-row {min-width: 0px;}
}
