/* Foto block  begin*/
.foto-Wrap{max-width: 1024px; margin: 0 auto; width: 100%; text-align: left;
    .foto-box{display: inline-block;  text-align: center;  margin-bottom: 32px ;
        margin-right: 15px;

        .foto{ position: relative; border: 1px solid #e1e4e7;
            -webkit-transition: all 0.4s linear ;
            -moz-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
            transition: all 0.4s linear;
            .lupa{position: absolute; bottom: 21px; right: 23px;}
            .main-foto{padding: 10px;}
        &:hover{ box-shadow: 0 0 20px rgba(0,0,0,0.5); }
        }
        &:nth-child(3n) { margin-right: 0;}
        &:first-child { margin-left: 0;}


    .ivent{font-family: 'Roboto'; color: #e1e4e7; font-size: 14px;}
    .date-ivent{font-family: 'Roboto'; color: #e1e4e7; font-size: 10px;}
    }
}


/* fancybox */
.fancybox-close{background-image: none;  width: 28px; height: 28px;  vertical-align: middle; right: -14px; top: -14px;
    -webkit-transition: all 2s ease ;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
     transition: all 2s ease;


   &:before{display: block; width: 30px; height: 6px; background-color: #ec4228; content: ''; border-radius: 3px; position: absolute; top: 12px; right: -1px;
    -moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);

    }
   &:after{display: block; width: 30px; height: 6px; background-color: #ec4228; content: '' ; border-radius: 3px; position: absolute; top: 12px; right: -1px;
        -moz-transform: rotate(-45deg); /* Для Firefox */
        -ms-transform: rotate(-45deg); /* Для IE */
        -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(-45deg); /* Для Opera */
        transform: rotate(-45deg);
    }
    &:hover{
        -moz-transform: rotate(360deg); /* Для Firefox */
        -ms-transform: rotate(360deg); /* Для IE */
        -webkit-transform: rotate(360deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(360deg); /* Для Opera */
        transform: rotate(360deg);
    }
}

/* Foto block  end*/

.block-Radick{ height: 10px; background-color: red;}


/* Video block  begin*/

.video-Wrap{max-width: 1024px; margin: 0 auto; width: 100%; text-align: left;
    .video-box{display: inline-block;  text-align: center;  margin-bottom: 32px ;
        margin-right: 15px;

    }

}

/* Video block  end*/