/*синие плашки*/
.section_title{width: 100%;text-align: right;position: relative;overflow: hidden;/*height: 62px;*/
    &:after{position: absolute;content: "";width: 0;height: 1px;background-color: #425461;transition:width 600ms ease;-webkit-transition:width 600ms ease;left: 0;bottom:0;}
    &.animated:after{width: 100%;}
    &.red_bg:after{background: #EB4227;}
    .section_title_line{background: #425461; background: -moz-linear-gradient(left,  #425461 0%, #425461 46%, #677681 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#425461), color-stop(46%,#425461), color-stop(100%,#677681)); background: -webkit-linear-gradient(left,  #425461 0%,#425461 46%,#677681 100%); background: -o-linear-gradient(left,  #425461 0%,#425461 46%,#677681 100%); background: -ms-linear-gradient(left,  #425461 0%,#425461 46%,#677681 100%);background: linear-gradient(to right,  #425461 0%,#425461 46%,#677681 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#425461', endColorstr='#677681',GradientType=1 );color: #fff;font-family: "Myriad Pro";font-size: 19px;position: absolute;width: 100%;height: 100%;left: -100%;text-transform: uppercase;line-height: 67px;transition:left ease-out 400ms;
        &.red_bg{background: #b0210a; background: -moz-linear-gradient(left,  #b0210a 0%, #b0210a 46%, #ec4227 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b0210a), color-stop(46%,#b0210a), color-stop(100%,#ec4227)); background: -webkit-linear-gradient(left,  #b0210a 0%,#b0210a 46%,#ec4227 100%); background: -o-linear-gradient(left,  #b0210a 0%,#b0210a 46%,#ec4227 100%); background: -ms-linear-gradient(left,  #b0210a 0%,#b0210a 46%,#ec4227 100%); background: linear-gradient(to right,  #b0210a 0%,#b0210a 46%,#ec4227 100%);
        }
        span{padding-right: 30px;}
        &.animated{left:-68.3%;}
    }
}

/*/синие плашки*/

/*page news*/
.news-main-wrap{
    .hot-slider{opacity: 0;-webkit-transition:500ms opacity 400ms ease;transition:500ms opacity 400ms ease;padding-top: 44px;
        &.animated{opacity: 1;}
    }
    .news-main .news-wrap .news .mbox .blocks-news .block-new{opacity: 0;-webkit-transition: all 400ms ease;transition:all 400ms ease;transform:translate3d(0,8%,0);-webkit-transform:translate3d(0,8%,0);
        &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);}
    }
}
/*/page news*/

/*page foto*/
.foto_main_wrap{padding-top: 57px;
    .photo_section {padding-bottom: 19px;
        .news_line_wrap{padding-bottom: 63px;}
    }
    .foto-box-wrap{opacity: 0;-webkit-transition: all 400ms ease;transition:all 400ms ease;
        &.animated{opacity: 1;}
    }
    .video_section{
        .mbox{padding-top: 72px;padding-bottom: 74px;}
        .video-box-wrap{opacity: 0;-webkit-transition: all 400ms ease;transition:all 400ms ease;
            &.animated{opacity: 1;}
        }
    }
}
/*/page foto*/

/*page foto_inside*/
    .news-inside-main{opacity: 0;-webkit-transition: all 400ms ease;transition:all 400ms ease;
        &.animated{opacity: 1;}
    }
/*/page foto_inside*/

/*page smi*/
.smi-main{
    .smi_wrap{opacity: 0;-webkit-transition: all 400ms ease;transition:all 400ms ease;transform:translate3d(0,8%,0);-webkit-transform:translate3d(0,8%,0);
     &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);}
    }
}
/*/page smi*/

/*pagination */
.add_more_news{display: none;}
/*/pagination*/


@media screen and (min-width: 1280px){

}
@media screen and (min-width: 1366px){
    /*news page*/
    .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new{
        width: calc(38% - 5px);margin: 0% 6%;
    }
    .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new:nth-child(2n){margin-right: 6%;}
    .hot-news .mbox{padding: 0 10%;}
}
@media screen and (min-width: 1920px){

}
@media screen and (min-width: 2048px){

}
@media screen and (min-width: 2560px){

}
@media screen and (min-width: 2880px){

}


@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){
/*news page*/
    .news-main-wrap .news-main{padding-top: 0;}
    .hot-slider,.hot-news{display: none;}
    .news-main-wrap .news-main .news-wrap .news .section_title .section_title_line span {padding-right: 25px;}
    .news-main-wrap .news-main .news-wrap .news .section_title{margin-bottom: 0;}

    .news-wrap{
        .mbox{padding: 0;}
        .block-new-contant{padding:0 20px 35px;}
        .mount-time{padding-top: 8px;
            &:after{content:"";clear: both;display: block;}
            .time{float: right;}
            .mount{float: left;}
        }

        .block-new{padding-top: 15px;
            &:after{content: "";position: absolute;top: 0;right: 0;width: 97%;background-color: #576774;height: 15px;}
            &:before{content: "";position: absolute;top: 0;left: 0;width: 3%;background-color: #cd442d;height: 15px;}
        }
        .block-new:first-child{padding-top: 0;
             &:after, &:before{display: none;}
        }
        .paginator-wrap{
            .add_more_news{display: block;padding-left: 20px;padding-right: 20px;
                a{text-align: center;border: 1px solid #b4c2cd;color: #b4c2cd;padding: 40px 0px;font-size: 28px;font-weight: normal;display: block;color: #fff;background-color: #b5bdc4;text-transform: uppercase;}
            }
            .paginator{display: none;}
        }
    }
    .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new{width: 100%;float: none;    position: relative;padding-bottom: 125px;margin-bottom: 15px;}
    .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new .new-img-wrap{border:none;padding: 0;margin-bottom: 0;}
    .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new .new-img-wrap img{width: 100%;}
    .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new .date-wrap{
    margin-bottom: 0;padding-bottom: 0;border-bottom: none;padding: 10px 20px;background-color: #eef0f1;
    }
    .date-wrap {position: static;}
    .block-new-title{padding: 15px 20px 0px ;}
    .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new .date-wrap a{position: absolute;bottom: 0;top: auto;left: 20px;right: 20px;text-align: center;border:1px solid #b4c2cd;color: #b4c2cd;padding: 40px 0px;font-size: 28px;font-weight: normal;
        span{display: none;}
    }
    .date-wrap .mount-time .mount p{font-size: 19px}
    .date-wrap .mount-time .time span{font-size: 20px;}
    .date-wrap .day span{padding-top: 6px;font-size: 20px;}

    .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news{overflow: hidden;}
 /*/news page*/

 /*news inside page*/
     .news-inside-main-wrap .news-inside-main .mbox {padding-top: 90px;}
    .news-inside-main{
        .date-wrap{padding: 10px 20px;background-color: #eef0f1;}
        .mount-time{padding-top: 8px;
            &:after{content:"";clear: both;display: block;}
            .time{float: right;}
            .mount{float: left;}
        }
    }
    .news-inside-main-wrap .news-inside-main .mbox .news-inside .news-inside-contant .news-inside-body .news-inside-text-img .news-inside-img-wrap{float: none;padding-right: 0;}
    .news-inside-main-wrap .news-inside-main .mbox .news-inside .news-inside-contant .news-inside-body .news-inside-text-img .news-inside-img-wrap .news-inside-img{padding: 0;border: none;text-align: center;}
    .news-inside-main-wrap .news-inside-main .mbox .news-inside .news-inside-contant .news-inside-body .news-inside-text-img .news-inside-img-wrap .news-inside-img img{display: inline-block;}
    .news-inside-main-wrap .news-inside-main .mbox .news-inside .news-inside-contant .news-inside-body .news-inside-text-img h2{padding-top: 20px;}
    .news-inside-main-wrap .news-inside-main .mbox .news-inside-pagination{
    }
    .news-inside-main-wrap .news-inside-main .mbox .news-inside-pagination a{text-align: center;border: 1px solid #b4c2cd;color: #b4c2cd;padding: 19px 12px;font-size: 18px;display: block;
        span{display: none;}
    }
 /*/news inside page*/

}
@media screen and (max-width: 666px){

    /*news inside page*/
    .news-inside-main-wrap .news-inside-main .mbox .news-inside-pagination a{
        padding: 17px 9px;font-size: 15px;
    }
    /*/news inside page*/
}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){
    /*news inside page*/
    .news-inside-main .mount-time{text-align: center;}
    .news-inside-main .mount-time .mount {float: none;}
    .news-inside-main .mount-time .time {float: none;}
    .news-inside-main-wrap .news-inside-main .mbox .news-inside-pagination a{
        padding: 13px 6px;font-size: 11px;
    }
    /*/news inside page*/
    /*news page*/
    .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new{padding-bottom: 76px;}
    .news-main-wrap .news-main .news-wrap .news .mbox .blocks-news .block-new .date-wrap a{padding: 20px 0px;
    font-size: 21px;}
    .news-wrap .paginator-wrap .add_more_news a{padding: 12px 0px;font-size: 21px;}
    /*/news page*/
}