/*красные плашки*/
.section_title_red{width: 100%;border-bottom: 1px solid #EC4227;height: 62px;text-align: right;position: relative;overflow: hidden;margin-bottom: 44px;
    .section_title_line_red{background: #b0210a; background: -moz-linear-gradient(left,  #b0210a 0%, #b0210a 46%, #ec4227 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b0210a), color-stop(46%,#b0210a), color-stop(100%,#ec4227)); background: -webkit-linear-gradient(left,  #b0210a 0%,#b0210a 46%,#ec4227 100%); background: -o-linear-gradient(left,  #b0210a 0%,#b0210a 46%,#ec4227 100%); background: -ms-linear-gradient(left,  #b0210a 0%,#b0210a 46%,#ec4227 100%); background: linear-gradient(to right,  #b0210a 0%,#b0210a 46%,#ec4227 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0210a', endColorstr='#ec4227',GradientType=1 );color: #fff;font-family: "Myriad Pro";font-size: 19px;position: absolute;width: 100%;height: 100%;left: -68.3%;text-transform: uppercase;line-height: 67px;
        span{padding-right: 30px;}
    }
}
/*/красные плашки*/

/*Дата новости*/
.date-wrap{position: relative;
	.day{float: left; margin-right: 20px;
		span{width: 40px; height: 40px; background-color: #EC4227; display: inline-block; border-radius: 20px; padding-top: 8px; text-align: center; font-family: 'Roboto', sans-serif; color: #fff; font-size: 16px;}
	}
	.mount-time{
		.mount{
			p{font-size: 16px;text-transform: uppercase; font-family: 'Roboto', sans-serif; color: #6b7580;font-weight: 500;    letter-spacing: 1px;margin-bottom: -3px;}
		}
		.time{
			span{font-size: 14px; font-family: 'Roboto', sans-serif; color: #6b7580; font-weight: normal;}
		}
	}
	&:after{display: block;content: ' '; clear: both;}
}
/*/Дата новости*/


/* slick */

.slick-active {
    outline: none;
}
button.slick-prev.slick-arrow, button.slick-next.slick-arrow{position: absolute; left: -49px; width: 18px; height: 33px; outline:none;background-image: url(../images/prev.png); background-color: transparent; border: 0; text-indent: -9999px; top: 46.7%;}

button.slick-next.slick-arrow{right: -49px; background-image: url(../images/next.png);    left: inherit; }
/* /slick */


/* Пагинатор */

.paginator-wrap{width: 100%;    margin-bottom: 25px;
	.paginator{margin:0 auto;    text-align: center;
		p.current-page{color: #F2604B; border: 2px solid #F2604B;display: inline-block;}
		a,p{font-family: 'Roboto', sans-serif; width: 38px; height: 38px; border: 2px solid #ccc; border-radius: 19px; margin-right:3px;color:#ccc; font-size: 16px; text-align: center;display: inline-block;text-decoration: none;    padding-top: 6px;
			&:hover{color: #F2604B; border: 2px solid #F2604B;}
		}
	}
}

/* /Пагинатор */

/* news */
.news-main-wrap{
	.news-main{padding-top: 30px;
		.hot-news-wrap{
			.hot-news{
				.section_title_red{
					.section_title_line_red{
						span{padding-right: 38px;letter-spacing: 0.5px;}
					}
				}
				.mbox{
					.hot-new{margin-bottom: 25px;
						.image-wrap{ float: left;width: 24%;
							.image{
								img{max-width: 100%;}
							}
						}
						.hot-new-body-wrap{float: right;width: 74%;padding: 35px 25px 15px 25px;border: 1px solid #E9E9E9;
							.hot-new-body{
								.new-title{
									h2{font-family: 'Roboto', sans-serif;font-size: 34px;color: #6b7580;margin-top: 10px;margin-bottom: 17px;border-bottom: 1px solid #DADADA;padding-bottom: 19px;letter-spacing: -0.5px;}
								}
								.new-contant{
									p{font-family: 'Roboto', sans-serif;color: #858585;font-size:15px;letter-spacing: 0.0px;line-height: 1.4;margin-bottom: 12px;
										span{font-size: 16px;color: #000;font-style: italic;width: 69%;display: inline-block;letter-spacing: 0.3px;line-height: 1.3;margin-bottom: 12px;}
									}
								}
								a{font-family: 'Roboto', sans-serif; font-size: 12px; text-transform: uppercase; font-weight: bold; color: #868686; float: right;margin-right: 17px;
									span{font-size: 20px;}
								}
							}
						}
						&:after{display: block;content: ' '; clear: both;}
					}
				}
			}
		}
		.news-wrap{
			.news{
				.section_title{margin-bottom: 55px;
					.section_title_line{
						span{    padding-right: 82px;}
					}
				}
				.mbox{
					.blocks-news{margin-bottom: 20px;
						.block-new{width: 48%; float: left; margin: 0px 0px;margin-bottom: 50px;margin-right: 40px;
							&:nth-child(2n){margin-right: 0;}
							.new-img-wrap{border: 1px solid #ccc; padding: 9px;margin-bottom: 20px;
								img{}
							}
							.date-wrap{margin-bottom: 18px;padding-bottom: 20px;border-bottom: 1px solid #E3E3E3;
								a{    display: inline-block; position: absolute; top: 3px; right: 4px; font-family: 'Roboto', sans-serif; font-size: 12px; text-transform: uppercase; font-weight: bold;color: #868686;
									span{font-size: 20px;}
								}
							}
							.block-new-title{
								p{ font-family: 'Roboto', sans-serif; font-weight: 500; color: #6b7580; text-transform: uppercase; font-size: 20px; letter-spacing: -0.2px;    margin-bottom: 10px;    line-height: 1.3;}
							}
							.block-new-contant{
								p{font-weight: normal;color:#858585; line-height: 1.5; letter-spacing: 0px; font-family: 'Roboto', sans-serif;    font-size: 15px;}
							}
						}
						&:after{display: block;content: ' '; clear: both;}
					}
				}
			}
		}
	}
}
/* /news */

/* news-inside */

.news-inside-main-wrap{
	.news-inside-main{
		.mbox{padding-top: 62px;
			.news-inside{
				.date-inside{margin-bottom: 25px;}
				.news-inside-contant{
					.news-inside-body{padding-bottom: 30px;border-bottom: 1px solid #ccc;
						.news-inside-text-img{width: 100%;
							.news-inside-img-wrap{float: left;margin-right: 20px;width: 38%;
								.news-inside-img{padding:9px;border: 1px solid #ccc;
									img{max-width: 100%;}
								}
							}
							p.news-inside-title{font-family: 'Roboto', sans-serif;width:60%;font-weight: 500;float:left;color: #6b7580;text-transform: uppercase;font-size: 20px;letter-spacing: 0.5px;margin-bottom: 10px;line-height: 1.1; padding-bottom: 20px; border-bottom: 1px solid #DCDCDC;}
							p{width:100%;color: #8e8e8e; font-size: 15px; font-weight: normal;font-family: 'Roboto', sans-serif;line-height: 1.3; letter-spacing: 0px;}
						}
						&:after{display: block;content: ' '; clear: both;}
					}
				}
			}
			.news-inside-pagination{width: 100%;padding-bottom: 30px;padding-top: 15px;
				.prev-news-inside{float: left;}
				.next-news-inside{float: right;}
				a{font-family: 'Roboto', sans-serif; font-size: 12px;text-transform: uppercase;font-weight: bold;color: #868686;text-decoration: none;
					span{font-size: 20px;}
					&:hover{opacity: 0.8;}
				}
			}
		}
	}
}

/* /news-inside */