/*синие плашки*/
.section_title{width: 100%;height: 62px;text-align: right;position: relative;overflow: hidden;
    &:after{position: absolute;content: "";width: 0;height: 1px;background-color: #425461;transition:width 600ms ease;-webkit-transition:width 600ms ease;left: 0;bottom:0;}
    &.animated:after{width: 100%;}
    &.red_bg:after{background: #EB4227;}
    .section_title_line{background: #425461; background: -moz-linear-gradient(left,  #425461 0%, #425461 46%, #677681 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#425461), color-stop(46%,#425461), color-stop(100%,#677681)); background: -webkit-linear-gradient(left,  #425461 0%,#425461 46%,#677681 100%); background: -o-linear-gradient(left,  #425461 0%,#425461 46%,#677681 100%); background: -ms-linear-gradient(left,  #425461 0%,#425461 46%,#677681 100%);background: linear-gradient(to right,  #425461 0%,#425461 46%,#677681 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#425461', endColorstr='#677681',GradientType=1 );color: #fff;font-family: "Myriad Pro";font-size: 19px;position: absolute;width: 100%;height: 100%;left: -100%;text-transform: uppercase;line-height: 67px;transition:left ease-out 400ms;
        &.red_bg{background: #b0210a; background: -moz-linear-gradient(left,  #b0210a 0%, #b0210a 46%, #ec4227 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b0210a), color-stop(46%,#b0210a), color-stop(100%,#ec4227)); background: -webkit-linear-gradient(left,  #b0210a 0%,#b0210a 46%,#ec4227 100%); background: -o-linear-gradient(left,  #b0210a 0%,#b0210a 46%,#ec4227 100%); background: -ms-linear-gradient(left,  #b0210a 0%,#b0210a 46%,#ec4227 100%); background: linear-gradient(to right,  #b0210a 0%,#b0210a 46%,#ec4227 100%);
        }
        span{padding-right: 30px;}
        &.animated{left:-68.3%;}
    }
}

/*/синие плашки*/

/*index page*/
.index-page{
    section{}
}
.index_biography{padding-bottom: 24px;opacity: 0;transition:all ease-out 400ms;padding-top: 64px;
    &.animated{opacity: 1;}
    .index_biography_left{float: left;width: 30%;text-align: center;}
    .index_biography_right{float: left;width: 70%;padding-left: 19px;}

    .index_biography_img{padding: 7px;border:1px solid #cdcdcd;display: inline-block;-webkit-transition:opacity 400ms ease;transition:opacity 400ms ease;
        &.animate-opacity{opacity: 1;}
    }
    .index_biography_text{color: #687681;font-family: "Myriad Pro";font-size: 16px;line-height: 21px;}
    .index_biography_title{font-size: 29px;padding-top: 5px;padding-bottom: 25px;}
    .index_biography_desc p{padding-bottom: 20px;}
    .index_biography:after{clear: both;display: block;content: "";}
}
.section_bg_img{-webkit-transition:500ms opacity 400ms ease;transition:500ms opacity 400ms ease;opacity: 0;
    &.animated{opacity: 1;}
}
.index_section_text{font-family: "Roboto";font-size: 16px;color: #687681;padding-top: 50px;padding-left: 3%;    padding-bottom: 58px;transition:1s opacity 400ms ease;-webkit-transition:1s opacity 400ms ease;opacity: 0;
    p{margin-bottom: 18px;}
    &.animated{opacity: 1;}
}
.index_sect_3 {
    .index_section_text{padding-bottom: 49px;
        p{margin-bottom: 13px;}
    }
}

.index_sect_4 {
    .section_title_line{}
    .index_section_text{padding-bottom: 181px;/*!*/
    }
}

section.active{
    &:first-child{animation-name: tdFadeInUp;}
    .index_biography{}
}
/*/index page*/

/*footer*/
.footer{
    .footer_top{background-color: #6b7580;padding-top: 53px;padding-bottom: 42px;
        .footer_top_item{float: left;color: #fff;transition:transform 200ms ease,opacity 300ms ease;-webkit-transition:transform 200ms ease,opacity 300ms ease;opacity: 0;transform: translate3d(0,25%,0);-webkit-transform: translate3d(0,25%,0);
            &.animated{opacity: 1;transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0)}
        }
        .fti_1{width: 41%;}
        .fti_2{width: 39%;}
        .fti_3{width: 20%;
            .fti_title span:after{width: 100%;}
            .fti_text{padding-left: 0;padding-top: 32px;
                a:hover{opacity: 1;}
            }
        }
        .fti_title{color:#ffffff;font-size: 22px;font-weight: bold;font-family: "Roboto";text-transform: uppercase;
            span{position: relative;
                &:after{height: 1px;width: 195px;position: absolute;content: "";background-color: #899199;left: 0;bottom:-13px;}
            }
        }
        .fti_text{padding-top: 22px;padding-left: 22px;
            a{text-decoration: none;display: block;color: #fff;font-family: "Roboto";line-height: 24px;font-size: 15px;transition:all ease-out .2s;height: 100%;vertical-align: middle;
            &:hover{opacity: 0.7}
                span{position: relative;
                    &:after{content: "";position: absolute;width: 6px;height: 10px;background: url('../images/footer_arrow.png') center center no-repeat;left: -18px;top: 21%;}
                }
            }
        }
        .fti_social{text-align: center;}
        .fti_social_item{display: inline-block;height: 55px;width: 55px;border-radius: 50%;text-align: center;position: relative;vertical-align: top;margin: 0 5px;
            img{display: inline-block;padding-top: 19px;}
            &:hover{box-shadow: 0 0 0 5px rgba(255,255,255,1);color: #fff;
                &:after{transform: scale(0.85);opacity: 0.5;}
            }
            &:after{pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 50%;content: '';box-sizing: content-box;top: 0;left: 0;padding: 0;box-shadow: 0 0 0 2px #fff;    transition: transform 0.2s, opacity 0.2s;}
        }

    }
    .footer_bottom{background-color: #353f48;text-align: center;color: #6b7580;font-family: "Roboto";font-size: 16px;padding: 24px 0px;}
}
/*/footer*/

/*page news*/
.news-main-wrap{
    .hot-slider{opacity: 0;-webkit-transition:500ms opacity 400ms ease;transition:500ms opacity 400ms ease;padding-top: 44px;
        &.animated{opacity: 1;}
    }
}
/*/page news*/