/* Foto block  begin*/
.foto_main_wrap{
    .mbox{ text-align: left;
        .foto-box{display: inline-block;  text-align: center;  margin-bottom: 32px ;
            margin-right: 15px;

            .foto{ position: relative; border: 1px solid #e1e4e7;
                -webkit-transition: all 0.4s linear ;
                -moz-transition: all 0.4s linear;
                -o-transition: all 0.4s linear;
                transition: all 0.4s linear;
                .lupa{position: absolute; bottom: 21px; right: 23px;}
                .main-foto{padding: 10px;}
            &:hover{ box-shadow: 0 0 20px rgba(0,0,0,0.5); }
            }
            &:nth-child(3n) { margin-right: 0;}
            &:first-child { margin-left: 0;}


        .ivent{font-family: 'Roboto'; color: #e1e4e7; font-size: 14px;}
        .date-ivent{font-family: 'Roboto'; color: #e1e4e7; font-size: 10px;}
        }
    }
}


/* fancybox */
.fancybox-close{background-image: none; border-radius: 17px; background-color: white;  width: 34px; height: 34px;  vertical-align: middle; right: -14px; top: -14px; border: 3px solid black;
    -webkit-transition: transform 1s ease, border-color 500ms linear;
    -moz-transition: transform 1s ease, border-color 500ms linear;
    -o-transition: transform 1s ease, border-color 500ms linear;
     transition: transform 1s ease, border-color 500ms linear;


   &:before{display: block; width: 22px; height: 4px; background-color: #000; content: ''; border-radius: 3px; position: absolute; top: 12px; right: 3px;
    -webkit-transition: background-color 500ms linear ;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
     transition: background-color 500ms linear;
    -moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);

    }
   &:after{display: block; width: 22px; height: 4px; background-color: #000; content: '' ; border-radius: 3px; position: absolute; top: 12px; right: 3px;
        -webkit-transition: background-color 500ms linear ;
        -moz-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
         transition: background-color 500ms linear;
        -moz-transform: rotate(-45deg) ; /* Для Firefox */
        -ms-transform: rotate(-45deg); /* Для IE */
        -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(-45deg); /* Для Opera */
        transform: rotate(-45deg);
    }
    &:hover{
        -moz-transform: rotate(360deg); /* Для Firefox */
        -ms-transform: rotate(360deg); /* Для IE */
        -webkit-transform: rotate(360deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(360deg); /* Для Opera */
        transform: rotate(360deg);
        border-color:orange;
        &:after{background-color: orange;}
        &:before{background-color: orange;}
    }
}

/* Foto block  end*/



/* Video block  begin*/

.mbox{
    .video-box{display: inline-block;  text-align: center;  margin-bottom: 32px ;
        margin-right: 15px;
        .video { -webkit-transition: all 0.4s linear ;
                -moz-transition: all 0.4s linear;
                -o-transition: all 0.4s linear;
                transition: all 0.4s linear;
                position: relative;
            .fancy-box-video{
                .main-video {border: 1px solid #e1e4e7; padding: 10px; }
                .video-circle{  width: 60px;  height: 60px; background-color: #ec4228; position: absolute;z-index: 2; top: 40%; left: 42%; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
                .video-triangle{ border: 15px solid transparent; border-left: 15px solid white; position: absolute; z-index: 3;top: 45%; left: 50%; }

            }
            &:hover{ box-shadow: 0 0 20px rgba(0,0,0,0.5);
                    .video-circle-anim{  width: 60px;  height: 60px; border: 1px solid #ec4228; position: absolute;z-index: 2; top: 40%; left: 42%; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;animation: pulse 1s linear infinite;}
                    @keyframes pulse {
                        from {-ms-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); opacity: 1;}
                        to {-ms-transform: scale(2,2); -webkit-transform: scale(2,2);transform: scale(2,2);opacity: 0;}
                    }
                    @-webkit-keyframes pulse {
                        from {  -ms-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1);opacity: 1;}
                        to { -ms-transform: scale(2,2); -webkit-transform: scale(2,2);  transform: scale(2,2); opacity: 0;}
                    }
            }
        }
    }
    .ivent{font-family: 'Roboto'; color: #e1e4e7; font-size: 14px;}
    .date-ivent{font-family: 'Roboto'; color: #e1e4e7; font-size: 10px;}

}

/* Video block  end*/