/* header */

.header-img-device{display: none;height: 310px;overflow: hidden;
    img{max-width: none;max-height: 310px;margin-left: 50%;transform:translate(-40%,0);-webkit-transform:translate(-40%,0);-moz-transform:translate(-40%,0);-ms-transform:translate(-40%,0);}
}

.header-slider-wrap{
    .header-slider-wrap-main .header-slider-item{overflow: hidden;
        img{max-width: none;width: 1920px;position: relative;left: 50%;transform:translate3d(-50%,0,0);-webkit-transform:translate3d(-50%,0,0);}
    }
    .slick-dots{position: absolute;margin-bottom: 24px;bottom: 0;left: 0;right: 0;text-align: center;
        li{display: inline-block;margin-right: 8px;
            &:last-child{margin-right: 0;}
            button{font-size: 0;border:2px solid #fff;padding:0;margin:0;background-color: transparent;border-radius: 50%;width: 12px;height: 12px;
                &:focus{outline: none;}
            }
            &:hover, &.slick-active{
                button{background-color: #fff;}
            }
        }
    }
}

.header-content-wrap{position: absolute;left: 0;right: 0;top: 0;
    .header-content-wrap-main{position: relative;}
    .header-content-top{margin-bottom: 88px;
        .header-top-left{float: left;width: 50%;
            .header-top-buttons-wrap{display: table;width: 100%;
                a{display: table-cell;cursor: pointer;text-align: center;vertical-align: middle;background-color: #616b75;color:#fff;font-size: 13px;font-weight: 500;text-transform: uppercase;padding:20px 0;transition:300ms ease background-color;-webkit-transition:300ms ease background-color;
                    &:hover, &.active, &:active, &:focus{background-color:#cd442d;text-decoration: none;outline:none;}
                    span{display: inline-block;vertical-align: middle;}
                    .button-icon{margin-left: 7%;background-image:url(../images/button-icon.png);width: 6px;height: 10px;}
                }
            }
        }

        .header-top-right{float: right;width: 50%;
            .header-top-soc{float: right;
                .header-top-soc-wrap{float: right;
                    a{display: block;width: 60px;height: 60px;text-align: middle;text-align: center;position: relative;overflow: hidden;
                        &.red{background-color:#cd442d;}
                        &.blue{background-color:#125386;}
                        &.ligth-blue{background-color: #437aa6;}
                        &:after{content: '';position: absolute;width: 100%;height: 100%;background-color: orange;left: 100%;top: 100%;transition:left 300ms ease, top 300ms ease;-webkit-transition:left 300ms ease, top 300ms ease;z-index: 0;}
                        &:hover:after{left: 0;top: 0;}
                        img{vertical-align: middle;position: relative;z-index: 1;}
                    }
                }
            }
            .header-top-langChange{margin-right: 200px;text-align: right;padding-top:20px;
                .header-top-langChange-value{display: none;height: 60px;width: 60px;background-color: #4d6774;font-size: 20px;font-weight: 700;text-align: center;color:#fff;padding-top: 14px;text-transform: uppercase;}
                a{font-size: 15px;color:#fff;text-decoration: none;display: inline-block;vertical-align: middle;position: relative;margin-right: 5%;text-transform: uppercase;line-height: 14px;
                    &:after{content: '';position: absolute;top: 100%;left: 0;height: 1px;width: 0;background-color: #fff;transition:300ms width ease;-webkit-transition:300ms width ease;}
                    &:hover:after{width: 100%;}
                    &.active{font-weight: 700;
                        &:after{width: 100%;}
                    }
                }
            }
        }
    }
    .header-form-wrap{position: absolute;right: 0;text-align: right;
        .form-big-title{font-family: 'Myriad Pro',sans-serif;font-weight: 900;color:#fff;font-size: 71px;margin-bottom: -6px;}
        .form-small-title{color:#fff;font-size: 22px;font-weight: 300;margin-bottom: 27px;line-height: 26px;}
        .form-row{margin-bottom: 15px;
            .form-input-wrap{display: inline-block;margin-right: 15px;max-width: 215px;width: 100%;position: relative;
                &:last-child{margin-right: 0;max-width: 290px;width: 100%;}
                input{height: 45px;line-height: 45px;color:#000;font-size: 15px;font-weight: 500;font-style:italic;padding:0 15px;width: 100%;border-color: transparent;border-width: 2px;border-style:solid;transition:300ms ease border-color;-webkit-transition:300ms ease border-color;
                    &::-webkit-input-placeholder {color:#acacac;font-style:italic;font-weight: 400;}
                    &:-moz-placeholder {color:#acacac;font-style:italic;font-weight: 400;}
                    &::-moz-placeholder {color:#acacac;font-style:italic;font-weight: 400;}
                    &:-ms-input-placeholder {color:#acacac;font-style:italic;font-weight: 400;}
                    &:focus{outline:none;
                        &::-webkit-input-placeholder {color:transparent;}
                        &:-moz-placeholder {color:transparent;}
                        &::-moz-placeholder {color:transparent;}
                        &:-ms-input-placeholder {color:transparent;}
                    }

                }
                &.error input{border-color: red;}
                &.valid input{border-color:green;}
            }
            &.submit-wrap{margin-bottom: 0;
                button{max-width: 212px;width: 100%;height: 54px;line-height: 46px;border:none;background-color: #3f8ac5;font-size: 15px;color:#fff;text-transform: uppercase;padding:4px;position: relative;overflow: hidden;
                    span{position: relative;z-index: 1;}
                    &:after, &:before{content: '';position: absolute;width: 100%;height: 100%;background-color: orange;transition:left 300ms ease, top 300ms ease;-webkit-transition:left 300ms ease, top 300ms ease;z-index:0;}
                    &:before{left: -100%;top:-100%;}
                    &:after{left: 100%;top: 100%;}
                    &:hover{
                        &:before, &:after{left: 0;top: 0;}
                    }
                }
            }
        }
    }
}

.header-navigation{
    .header-navigation-device-icon{height: 52px;width: 52px;background-color: #fff;position: absolute;left: 0;top: 0;padding-top:15px;text-align: center;z-index: 1;display: none;
        span{display:inline-block;position: relative;width: 32px;height: 3px;background-color: #000;
            &:before, &:after{content: '';display: block;width: 32px;height: 3px;background-color: #000;position: absolute;left: 0;}
            &:before{top: -8px;}
            &:after{bottom:-8px;}
        }
    }
    .header-navigation-wrap-top{display: block;border-bottom: 1px solid #edf0f1;text-align: left;position: relative;
        font-size: 22px;font-weight: 700;color:#c9cfd3;padding:25px 10px 25px 10px;text-transform: uppercase;display: none;
        .header-navigation-wrap-top-right{position: absolute;right: 10px;top: calc(50% - 25px);width: 50px;height: 50px;
            &:after, &:before{content:'';position: absolute;width: 140%;height: 1px;background-color: #b8c2c7;left:0;transform-origin:0 50%;}
            &:before{top:0;transform:rotate(45deg);}
            &:after{bottom:0;transform:rotate(-45deg);}
        }
    }
    .header-navigation-wrap{display: table;width: 100%;
        a{display: table-cell;text-align: center;vertical-align: middle;font-weight:500;font-size: 16px;color:#6b7580;padding:26px 0;cursor: pointer;text-transform: uppercase;transition:color 200ms ease, background-color 300ms ease;-webkit-transition:color 200ms ease, background-color 300ms ease;
            span{display: inline-block;position: relative;
                &:after{content: '';position: absolute;width: 100%;height: 1px;background-color: #6b7580;left: 0;top: 100%;transition:background-color 200ms ease, width 300ms ease;-webkit-transition:background-color 200ms ease, width 300ms ease;}
            }
            &:hover, &.active{background-color:#ec4228;color:#fff;
                span:after{width: 0;background-color: #fff;}
            }
        }
    }
}

/* /header */